@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-shadows" as shadows;

.iconCard {
  background-color: colors.$primary;
  border-bottom: 5px colors.$primary-variant solid;
  padding: 20px 15px;
  text-align: center;
  @include shadows.shadow;

  .wrapper {
    .iconWrapper {
      margin: auto;
      margin-top: -50px;
      display: inline-block;
      width: 60px;
      height: 60px;
      padding: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: colors.$slate;
      border: 1px colors.$primary solid;

      i {
        font-size: 40px;
        color: colors.$primary;
      }
    }

    .texts {
      margin-top: 15px;
      color: colors.$slate;

      & > * {
        margin-top: 15px;
      }

      .title {
        font-weight: bolder;
        font-size: x-large;
      }
    }
  }
}
