@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-screens" as screens;
@use "../../styles/layouts/responsive" as responsive;

#carousel {
  aspect-ratio: 797/215;
  background-size: cover;
  background-color: colors.$primary;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  border-bottom: 2px colors.$primary solid;

  .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;

    button {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: colors.$primary, $alpha: 0.9);
      color: colors.$slate;
      cursor: pointer;
      border-radius: 50px;
      border: 1px colors.$slate solid;
    }
  }
}

#discover {
  padding: 60px 0;
  background-color: colors.$slate;

  .container {
    @include responsive.container;

    .wrapper {
      h1 {
        text-align: center;
        color: colors.$primary;
      }

      .cards {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        & > a {
          flex-grow: 1;
          width: calc((100% - (15px)) / 1);

          @include screens.tablet {
            width: calc((100% - (15px * 1)) / 2);
          }

          @include screens.desktop {
            width: calc((100% - (15px * 3)) / 4);
          }
        }
      }
    }
  }
}
