@use "../../styles/layouts/responsive" as responsive;
@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-screens" as screens;

#banner {
  background-image: url("/assets/images/benefits/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  display: flex;
  align-items: center;

  .wrapper {
    margin: auto;
    max-width: 700px;
    text-align: center;

    h1 {
      font-weight: 900;
      color: colors.$slate;
      font-size: 32px;
    }
  }
}

.section {
  padding: 60px 0;

  &:nth-child(odd) {
    background-color: colors.$slate;

    .container {
      .wrapper {
        .content {
          & > div {
            background-color: colors.$white;
          }
        }
      }
    }
  }

  .container {
    @include responsive.container;
    .wrapper {
      .header {
        text-align: center;
        max-width: 650px;
        margin: auto;

        h1 {
          color: colors.$primary;
          font-weight: 900;
          font-size: 32px;
        }
      }

      .content {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include screens.tabletAndDesktop {
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;

          & > div {
            flex-grow: 1;
            flex-basis: calc((100% - (10px * 2)) / 3);
          }
        }
      }
    }
  }
}
